# gitignore for django project

/.vscode
/collectstatic
/static

/celeryschedule
/env
/celerybeat-schedule

*/__pycache__/
*/migrations/
*/__pycache__/*
*/migrations/*
*.pyc
*.pyo
*.pyd
*.pyz
*.pyw

server.sock

awsstations/__pycache__/
awsstations/migrations/

blogs/__pycache__/
blogs/migrations/

weatherstations/__pycache__/
weatherstations/migrations/

crowdsource/__pycache__/
crowdsource/migrations/