absl-py
amqp
asgiref
astunparse
billiard
celery
certifi
charset-normalizer
click
click-didyoumean
click-plugins
click-repl
contourpy
cron-descriptor
cycler
Django
django-celery-beat
django-cors-headers
django-rest-framework
django-timezone-field
djangorestframework
flatbuffers
fonttools
gast
geographiclib
geopy
google-pasta
grpcio
gunicorn
h5py
idna
keras
kiwisolver
kombu
libclang
Markdown
markdown-it-py
MarkupSafe
matplotlib
mdurl
ml-dtypes
namex
numpy
opt-einsum
optree
packaging
pandas
pillow
prompt_toolkit
protobuf
psycopg2-binary
Pygments
pygrib
pyparsing
pyproj
python-crontab
python-dateutil
pytz
PyWavelets
redis
requests
rich
setuptools
six
sqlparse
tensorboard
tensorboard-data-server
tensorflow
termcolor
typing_extensions
tzdata
urllib3
vine
wcwidth
Werkzeug
wheel
wrapt